<form class="wfrp-ai">
    <div class="wfrp-ai-inputs">
        <textarea class="wfrp-ai-textarea" name="description" placeholder="{{localize "AActors.General.DescriptionPlaceholder" }}">{{description}}</textarea>
        <button type="button" title="{{localize "AActors.General.Send"}}" data-action="send"><i class="fa-solid fa-up-long"></i>{{localize "AActors.General.Send"}}</button>
    </div>
</form>