<form class="wfrp-ai">
    <div class="wfrp-ai-inputs">
        <textarea class="wfrp-ai-textarea" name="description" placeholder="{{localize "AI-ACTOR.type_a_description" }}">{{description}}</textarea>
        <button type="button" title="{{localize "AI-ACTOR.generate_actor"}}" data-action="send"><i class="fa-solid fa-up-long"></i>{{localize "AI-ACTOR.Send"}}</button>
    </div>
</form>