.actor-ai .window-content form {
    border-image: url(/systems/wfrp4e/ui/frames/parchment-texture.webp) 4 repeat;
    border-image-slice: 250 fill;
    border-image-outset: 44px 34px 0px 34px;
}

.actor-ai-img {
    min-width: 320px;
    max-width: 320px;
    padding: 5px;
    max-height: 100%;
    min-height: 320px;
    display: flex;
    flex-flow: column;
}

.actor-ai-img-gen {
    padding: 5px;;
}

.actor-ai-img-buttons {
    display: flex;
    padding-top: 5px;
}

.actor-ai-gen-window {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    height: 100%;
}

.actor-ai-response {
    color: black;
    font-family: CaslonAntiquePL !important;
    margin-top: 2em;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.actor-ai-inputs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.actor-ai-folders {
    padding: 5px;
    margin: 3px;
    height: auto;
}

.actor-ai-image-description {
    height: 200px;
    padding: 5px !important;
    background: none;
    margin: 3px;
    color: black;
}

.actor-ai-textarea {
    height: calc(100% - 45px);
    padding: 5px !important;
    background: none;
    margin: 3px;
    color: black;
}

.actor-ai-textarea::placeholder {
    color: rgb(66, 66, 66);
}

.actor-ai-loader-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: column;
}

.actor-ai-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgba(105, 0, 8, 0.8);
    width: 70px;
    height: 70px;
    margin-left: 70px;
    animation: spin 2s linear infinite;
}

.actor-ai-loader-message {
    color: black;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.collapsible {
    /* background-color: #777; */
    /* color: white; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 7px 0;
  }
  
  .ai-img-gen {
    max-width: 300px;
  }

  #ai-hist-form {
    min-height: 442px;
  }