
/* ==================== (C) WINDOW BODY ======================= */
.aiactor .window-content {
    font-size: var(--font-size-13);
    overflow-y: hidden;
    box-shadow: none;
    background: none;
    overflow-y: hidden;
    border: 1px solid;
    border-image: url(/systems/wfrp4e/ui/frames/parchment-texture.webp) 4 repeat;
    border-image-slice: 106 fill;
    border-image-width: 106px;
    border-image-outset: 63px 25px 11px 7px;
    padding: 0px 0px 0px 0px;
    margin: 3px 26px 0px 8px;
  }

.aiactor .window-content form {
    margin: 5px;
    margin-bottom: 5px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
    border: 1px solid;
    border-image: url(/systems/wfrp4e/ui/frames/parchment-texture.webp) 4 repeat;
    border-image-slice: 250 fill;
    border-image-width: 250px;
    border-image-outset: 44px 34px 0px 34px;
    /* background: red; */
    /* box-shadow: var(--debug-box-shadow-red); */
  }


#ai-gen-form {
    height: 100%;
}

#ai-gen-window {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    height: 100%;
}

#ai-response {
    color: black;
    font-family: CaslonAntiquePL !important;
    margin-top: 2em;
    min-height: 400px;
    height: calc(100% - 80px);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#regenerate_img, #editDescription {
    margin: 1em 0;
}

#user-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
}

#folders {
    grid-column: 1 / 6;
    padding: 0.5em;
    height: auto;
}

#folders * {
    padding: 0.5em;
}

#loading {
    height: 150px;
    width: 150px;
}

textarea.ai-actors {
    padding: 5px !important;
    grid-column: 1 / 5;
    border: none;
    box-shadow: none;
    background: none;
    height: unset;
    color: unset;
    padding-top: 5px;
    color: black;
}

input.ai-actors::placeholder{
    color: #454545;
}

#make_ai_actor_btn {
    grid-column: 1 / 6;
}

.monospace {
    font-family: "Courier New", "Lucida", monospace;
}

hr {
    border-bottom: 1px solid #782e22;
    margin: 1em 0;
}

.ability-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.block {
    padding: 0.5em;
    flex-direction: column;
}

.sm-block {
    font-weight: bold;
    margin-bottom: .5em;
}

h2.actions {
    border-top: 1em;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgba(105, 0, 8, 0.8);
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#ai-img {
    width: 250px;
}

#img_div {
    width: 250px;
}

.selector option{
    padding: .5em;
}

.selector option:hover {
    background-color: #782e22;
    color: white;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.collapsible {
    /* background-color: #777; */
    /* color: white; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 7px 0;
  }
  
  button.active, .collapsible:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */
  }

  .ai-img-gen {
    max-width: 300px;
  }

  #ai-hist-form {
    min-height: 442px;
  }

  .flex {
    display: flex;
  }

  .textarea {
    margin: .5em 0;
    padding: 1em;
  }